<div class="container-fluid">
    <footer class="py-4 fixed-bottom bg-light bg-gradient bg-opacity-25 px-3 text-dark">
        <div class="d-flex flex-column flex-sm-row justify-content-between">
            <p><a href="/" class="text-decoration-none text-dark">TOPDATA &copy; 2023 All rights reserved.</a></p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis text-decoration-none" href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
                <li class="ms-3"><a class="link-body-emphasis text-decoration-none" href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
                <li class="ms-3"><a class="link-body-emphasis text-decoration-none" href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
            </ul>
        </div>
    </footer>
</div>