<h2 class="mb-4">Lista de Usuários</h2>

<div class="card">
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Perfil</th>
                <th>Editar</th>
                <th>Apagar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-users>
            <tr>
                <td>{{ users.name }}</td>
                <td>{{ users.email }}</td>
                <td>{{ users.profile['name'] }}</td>
                <td><i class="bi bi-pen" style="color: blue;"></i></td>
                <td><i class="bi bi-trash3" style="color: red;"></i></td>
            </tr>
        </ng-template>
    </p-table>
</div>