<h2 class="mt-4 mb-4">Novo Usuário</h2>
<form>
    <div class="mb-3">
        <label htmlFor="username">Nome</label>
        <input class="form-control form-field" pInputText id="username" aria-describedby="username-help"/>
        <small class="form-text" id="username-help">Digite seu nome completo</small>
    </div>
    <div class="mb-3">
        <label htmlFor="email">E-mail</label>
        <input class="form-control form-field" pInputText id="email" aria-describedby="email-help" placeholder="exemplo@gmail.com"/>
        <small class="form-text" id="email-help">Digite seu e-mail</small>
    </div>
    <div class="mb-3">
        <label htmlFor="profile">Perfil</label><br>
        <p-dropdown id="profile" [options]="profiles" optionLabel="name" aria-describedby="profile-help"></p-dropdown><br>
        <small class="form-text" id="profile-help">Selecione o perfil desejado</small>
    </div>
    <div class="mb-3">
        <label htmlFor="password">Senha</label><br>
        <p-password [toggleMask]="true" promptLabel="Digite a senha"></p-password>
    </div>
    <div class="mb-3">
        <p-button label="Cadastrar" icon="pi pi-save"></p-button>
    </div>   
  </form>