<div class="container-fluid">
    <p-toast></p-toast>
    <h2 class="mb-4">Novo Usuário</h2>
    <form [formGroup]="formGroup">
        <div class="mb-3">
            <label htmlFor="username">Nome</label>
            <input class="form-control form-field" pInputText id="name" formControlName="name"
                aria-describedby="name-help" required="true" />
            <small class="form-text" id="name-help">Digite seu nome completo</small>
            <!--Validator-->
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
                <div *ngIf="name?.errors?.['required']">Nome é obrigatório</div>
                
            </div>
        </div>
        <div class="mb-3">
            <label htmlFor="email">E-mail</label>
            <input class="form-control form-field" pInputText id="email" formControlName="email"
                aria-describedby="email-help" placeholder="exemplo@gmail.com" />
            <small class="form-text" id="email-help">Digite seu e-mail</small>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
                <div *ngIf="email?.errors?.['required']">E-mail é obrigatório</div>
                <div *ngIf="email?.errors?.['email']">O valor digitado não é um e-mail valido</div>
            </div>
        </div>
        <div class="mb-3">
            <label htmlFor="profile">Perfil</label><br>
            <p-dropdown id="profile" [options]="profiles" optionLabel="name" formControlName="profile"
                aria-describedby="profile-help"></p-dropdown>
            <br>
            <small class="form-text" id="profile-help">Selecione o perfil desejado</small>
        </div>
        <div class="mb-3">
            <label htmlFor="password">Senha</label><br>
            <p-password [toggleMask]="true" promptLabel="Digite a senha" formControlName="password"
                inputId="password"></p-password>
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
                    <div *ngIf="password?.errors?.['required']">
                        A senha é obrigatório
                    </div>
                </div>
        </div>
        <div class="mb-3">
            <label htmlFor="confirm_pass">Confirmar a senha</label><br>
            <p-password [toggleMask]="true" promptLabel="Confirmar a senha" formControlName="confirm_pass"
                inputId="confirm_pass"></p-password>
                <div *ngIf="confirm_pass?.invalid && (confirm_pass?.dirty || confirm_pass?.touched)" class="text-danger">
                    <div *ngIf="confirm_pass?.errors?.['required']">
                        É obrigatório confirmar a senha
                    </div>
                </div>
                
        </div>
        <div class="mb-3">
            <p-button label="Cadastrar" icon="pi pi-save" (click)="saveNewUser()"></p-button>
        </div>
    </form>
</div>