<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="card bg-transparent text-white border-0">
            <div class="card-body">
                <h5 class="card-title">Cadastro de Usuários</h5>
                <p class="card-text">Exemplo simples de um cadastro de usuários com Angular e Bootstrap</p>
                <hr>
                <p class="card-text"><i class="bi bi-arrow-bar-right"></i> Neste sistema você pode</p>
            </div>
            <ul class="list-group border-0">
                <li class="list-group-item bg-transparent text-white border-0"><i class="bi bi-check-lg"></i> Inserir, editar e excluir usuários e perfis</li>
                <li class="list-group-item bg-transparent text-white border-0"><i class="bi bi-check-lg"></i> Visualizar as informações </li>
                <li class="list-group-item bg-transparent text-white border-0"><i class="bi bi-check-lg"></i> Navegar pela lista de usuários e perfis</li>
            </ul>
        </div>
    </div>
</div>