<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Cadastro de Usuários</h5>
                <p class="card-text">Exemplo simples de um cadastro de usuários com Angular e Bootstrap</p>
                <p class="card-text">Neste sistema você pode <i class="bi bi-arrow-bar-right"></i></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Inserir, editar e excluir usuários e perfis</li>
                <li class="list-group-item">Visualizar as informações </li>
                <li class="list-group-item">Navegar pela lista de usuários e perfis</li>
            </ul>
            <div class="card-footer text-body-secondary text-center">
                <i class="bi bi-c-circle"></i> TopData
            </div>
        </div>
    </div>
</div>